* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #040d12;
}

#computer-area {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: #fa7070;
}

#result-area {
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #557c55;
  border-radius: 20px;
  color: #f2ffe9;
}

#player-area {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: #fa7070;
}

#button-area {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 40px;
  border: 0;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  color: #f2ffe9;
  background-color: #557c55;
}

button:hover {
  cursor: pointer;
}

.img {
  width: 200px;
  height: 200px;
  border: 4px dashed #a6cf98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pressed {
  background-color: #dadada;
}
